.todo__header {
	position: relative;
	padding-left: $first-line--width;
	border-color: $todo__header--bg;
	border-style: solid;
	border-width: 0 $border--width;
	background: $todo__header--bg;	
	color: $todo__header--text;
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		height: 100%;
		border-right: $todo__header--inner-border $border--width solid;
	}
	&::before {
		left: $first-line--width;
	}
	&::after{
		left: $second-line--width;
	}
}

.todo__title {
	padding: $headers__padding $indent;
	line-height: 1.25;
	font-size: 1.16em;
	font-weight: 700;
}
