// Color variables
$todo--bg: #e9f0f4;

$todo__header--bg: #2e3641;
$todo__header--text: #dae4eb;
$todo__header--inner-border: #454f5c;

$todo__list--bg: #fff;
$todo__list--border: #dbdbdb;
$todo__list--inner-border: #f2e3df;

$todo__task--text-active: #2e3641;
$todo__task--text-inactive: #9eb2c0;
$todo__task--border: #e6ebed;

$checkbox--border: #dae4eb;
$checkbox--mark: #a8bd44;

// Global sizes
$first-line--width: 2.35rem;
$second-line--width: 2.65rem;

$border--width: .075em;
$indent: 1rem;
$headers__padding: .7em;
$no-text__padding: $headers__padding + 1em/2;
