.todo__list {
	position: relative;
	margin: 0;
	padding: 0;
	border: $todo__list--border 1px solid;
	border-top: none;
	background: $todo__list--bg;
	list-style: none;
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		height: 100%;
		border-right: $todo__list--inner-border 1px solid;
	}
	&::before {
		left: $first-line--width;
		z-index: 10;
	}
	&::after{
		left: $second-line--width;
	}
}

.todo__task {
	position: relative;
	display: flex;
	align-items: center;
	// padding-right: $indent; // for trash icon
	border-bottom: $todo__task--border 1px solid;
	color: $todo__task--text-active;
	fill: $todo__task--text-active;
}

.todo__task--inactive {
	color: $todo__task--text-inactive;
	fill: $todo__task--text-inactive;
	text-decoration: line-through;
}

.todo__task-complete {
	width: $first-line--width;
	text-align: center;
}

.todo__task-name {
	$padding: 1em;
	margin: 0;
	padding: $padding 0 $padding $indent;
	font-size: 1em;
}
.todo__task-del {
	margin-left: auto;
}
.todo__task-del svg {
	$padding: .75em;
	$size: 1.3em + $padding*2;
	display: block;
	width: $size;
	height: $size;
	padding: $padding;
}
