.task-list {
	border: #dbdbdb 1px solid;
	border-top: none;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		
		background: transparent;
		height: 100%;
		border-right: #f2e3df 1px solid;
	}
	&::before {
		left: $first-line--width;
		z-index: 1000;
	}
	&::after{
		left: $second-line--width;
	}
}

.task-list__item {
	position: relative;
	display: flex;
	// justify-content: space-between;
	align-items: center;
	border-bottom: #e6ebed 1px solid;
}

.task-list__checkbox {
	width: $first-line--width;
	height: 100%;
	text-align: center;
}

.task-list__complete {
	position: relative;
	appearance: none;
	margin: 0;
	width: 1em;
	height: 1em;
	background: transparent;
	border: #dae4eb 1px solid;
	&::after {
		content: '';
		position: absolute;
		display: none;
		left: .25em;
		top: 0;
		width: .4em;
		height: .8em;
		border: solid #a8bd44;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg);
	}
	&:checked::after {
		display: block;
	}
}

.task-list__label {
	// label need to stay for disabled users
	position: absolute;
   	top: -9999px;
   	left: -9999px;
}

.task-list__title {
	padding-left: $headers__indent;
	color: #2e3641;
	line-height: 1;
	font-size: 16px;
}

.task-list__delete {
	width: 2em;
}
