.todo {
	margin: 3.5em auto;
	max-width: 26.8em;
	font-family: 'Lato', sans-serif;
}

.todo__header {
	position: relative;
	border-color: $todo__header--bg;
	border-style: solid;
	border-width: 0 $border--width;
	background: $todo__header--bg;	
	color: $todo__header--text;
	padding-left: $first-line--width;
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		height: 100%;
		border-right: $todo__header--inner-border $border--width solid;
	}
	&::before {
		left: $first-line--width;
	}
	&::after{
		left: $second-line--width;
	}
}

.todo__title {
	$padding: $row__padding;
	padding: $padding 0 $padding $indent;
	font-size: 1.16em;
	font-weight: 700;
}
