.todo__checkbox {
	position: relative;
	appearance: none;
	display: block;
	margin: 0 auto;
	width: 1em;
	height: 1em;
	border: $checkbox--border 1px solid;
	font-size: 1em;
	line-height: 1;
	&::after {
		content: '';
		position: absolute;
		display: none;
		left: 27%;
		top: 0;
		width: .4em;
		height: .8em;
		border: solid #a8bd44;
		border-width: 0 .125em .125em 0;
		transform: rotate(45deg);
	}
	&:checked::after {
		display: block;
	}
}
