.todo__list {
	position: relative;
	margin: 0;
	padding: 0;
	border: $todo__list--border $border--width solid;
	border-top: 0;
	background: $todo__list--bg;
	list-style: none;
	line-height: 1;
	font-size: 1em;
	font-weight: 400;
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		height: 100%;
		border-right: $todo__list--inner-border $border--width solid;
	}
	&::before {
		left: $first-line--width;
		z-index: 10;
	}
	&::after{
		left: $second-line--width;
	}
}

.todo__task {
	display: flex;
	align-items: center;
	border-bottom: $todo__task--border $border--width solid;
	color: $todo__task--text-active;
}

.todo__task--complete {
	color: $todo__task--text-inactive;
	text-decoration: line-through;
	.todo__task-del {
		background: url(../img/trash-complete.svg);
	}
}

.todo__task-action {
	width: $first-line--width;
	text-align: center;
}

.todo__task-checkbox {
	position: relative;
	appearance: none;
	display: block;
	margin: 0 auto;
	width: 1em;
	height: 1em;
	border: $checkbox--border 1px solid;
	font-size: 1em;
	line-height: 1;
	&::after {
		content: '';
		position: absolute;
		display: none;
		top: 0;
		left: 27%;
		width: .4em;
		height: .8em;
		border: solid #a8bd44;
		border-width: 0 .125em .125em 0;
		transform: rotate(45deg);
	}
	&:checked::after {
		display: block;
	}
}

.todo__task-name {
	$padding: $headers__padding;
	margin: 0;
	padding: $padding $indent;
	font: inherit;
}

.todo__task-del {
	// margin-left: auto - hack to align element right
	margin: 0 $indent/2 0 auto;
	padding: $no-text__padding;
	background: url(../img/trash.svg) no-repeat center;
	background-size: 45%;
	cursor: pointer;
}

.todo__task--complete .todo__task-del {
	background: url(../img/trash-complete.svg)  no-repeat center;
	background-size: 45%;
}
