.todo__new {
	position: relative;
	display: flex;
	align-items: center;
	border: $todo__list--border $border--width solid;
	border-top: 0;
	background: $todo__list--bg;
	color: $todo__task--text-active;
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		height: 100%;
		border-right: $todo__list--inner-border $border--width solid;
	}
	&::before {
		left: $first-line--width;
	}
	&::after{
		left: $second-line--width;
	}
	&:valid .todo__add-btn{
		cursor: pointer;
		pointer-events: auto;
	}
	&:valid .todo__btn-img{
		fill: $todo__task--text-active;
	}
}

.todo__add-btn {
	// To make sure the btn's width and height will be the same like lists 
	padding: $headers__padding + ($font--size - $action__elements--size)/2;
	& svg {
		pointer-events: none;
	}
}

.todo__btn-img {
	display: block;
	margin: 0 auto;
	width: $action__elements--size;
	height: $action__elements--size;
	fill: $todo__task--text-inactive;
}

.todo__new-task {
	margin: 0 $indent;
	width: 100%;
}

.todo__task-input {
	appearance: none;
	padding: $no-text__padding 0;
	width: 100%;
	height: 1em;
	border: none;
	color: $todo__task--text-active;
	font: inherit;
	&::placeholder {
		color: #9eb2c0;
	}
}
