.todo {
	margin: 3.5em auto;
	max-width: 26.6em;
	font-family: 'Lato', sans-serif;
}

.todo__hidden {
	// for screen readers
	position: absolute;
   	top: -9999px;
   	left: -9999px;
}

@import './header';
@import './list';
@import './new';
